#/bin/sh

#Dropbear listen port. Default 22
# examples
# 	DROPBEAR_PORT="192.168.0.5:22"
#	DROPBEAR_PORT="25"
#
#DROPBEAR_PORT=22

# Allow root login (true|false) default is true
#DROPBEAR_ROOT=true

# Allow login with password (true|false) default is true
#DROPBEAR_PASSWD_LOGIN=true

# Allow root login with password (true|false) default is true
#DROPBEAR_ROOT_PASSWD_LOGIN=true
